#plot_studies:hover{
  cursor:pointer;
}

.popover{
  border-color:#00498F;
}

.popover-header{
  background-color:#00498F;
  color:white;
}

.popover .btn-close{
  --bs-btn-close-opacity:1;
}

.nav{
  --bs-nav-link-color:#246A87;
}

.nav-tabs{
  --bs-nav-tabs-border-width:1px;
  --bs-nav-tabs-border-color:white;
  --bs-nav-tabs-border-radius:3px;
  --bs-nav-tabs-link-active-color:white;
  --bs-nav-tabs-link-active-bg:#246A87;
  --bs-nav-tabs-link-active-border-color:var(--bs-nav-tabs-link-active-bg);
  border-bottom:var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
  --bs-nav-link-color:#246A87;
}

.nav-link:hover, .nav-tabs>li>a:hover, .nav-pills>li>a:hover, :where(ul.nav.navbar-nav > li)>a:hover, .nav-link:focus, .nav-tabs>li>a:focus, .nav-pills>li>a:focus, :where(ul.nav.navbar-nav > li)>a:focus{
  color:#246A87;
}

.irs--shiny .irs-handle.state_hover, .irs--shiny .irs-handle:hover{
  background-color:#246A87;
}

.form-check-label, .shiny-input-container .checkbox label, .shiny-input-container .checkbox-inline label, .shiny-input-container .radio label, .shiny-input-container .radio-inline label{
  color:#00498F;
}

.form-check,.shiny-input-container .checkbox,.shiny-input-container .radio {
    display: block;
    min-height:1.5rem;
    padding-left:0;
    margin-bottom:.25rem
}

.form-check .form-check-input,.form-check .shiny-input-container .checkbox input,.form-check .shiny-input-container .radio input,.shiny-input-container .checkbox .form-check-input,.shiny-input-container .checkbox .shiny-input-container .checkbox input,.shiny-input-container .checkbox .shiny-input-container .radio input,.shiny-input-container .radio .form-check-input,.shiny-input-container .radio .shiny-input-container .checkbox input,.shiny-input-container .radio .shiny-input-container .radio input {
    float:left;
    margin-left:0
}

.form-check-reverse {
    padding-right:0;
    padding-left:0;
    text-align:right
}

.form-check-reverse .form-check-input {
    float:right;
    margin-right:0;
    margin-left:0
}

.form-check-input,.shiny-input-container .checkbox input,.shiny-input-container .checkbox-inline input,.shiny-input-container .radio input,.shiny-input-container .radio-inline input {
    --bs-form-check-bg:var(--bs-body-bg);
    width:1.2em;
    height:1.2em;
    margin-top:.15em;
    vertical-align:top;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    background-color:var(--bs-form-check-bg);
    background-image:var(--bs-form-check-bg-image);
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    border:var(--bs-border-width) solid #8D959E;
    print-color-adjust:exact
}

.form-check-input[type="checkbox"],.shiny-input-container .checkbox input[type="checkbox"],.shiny-input-container .checkbox-inline input[type="checkbox"],.shiny-input-container .radio input[type="checkbox"],.shiny-input-container .radio-inline input[type="checkbox"] {
    border-radius:2px
}

.form-check-input[type="radio"],.shiny-input-container .checkbox input[type="radio"],.shiny-input-container .checkbox-inline input[type="radio"],.shiny-input-container .radio input[type="radio"],.shiny-input-container .radio-inline input[type="radio"] {
    border-radius:50%
}

.form-check-input:active,.shiny-input-container .checkbox input:active,.shiny-input-container .checkbox-inline input:active,.shiny-input-container .radio input:active,.shiny-input-container .radio-inline input:active {
    filter:brightness(90%)
}

.form-check-input:focus,.shiny-input-container .checkbox input:focus,.shiny-input-container .checkbox-inline input:focus,.shiny-input-container .radio input:focus,.shiny-input-container .radio-inline input:focus {
    border-color:#00498F;
    outline:0;
    box-shadow:none
}

.form-check-input:checked,.shiny-input-container .checkbox input:checked,.shiny-input-container .checkbox-inline input:checked,.shiny-input-container .radio input:checked,.shiny-input-container .radio-inline input:checked {
    background-color:#00498F;
    border-color:#00498F
}

.form-check-input:checked[type="checkbox"],.shiny-input-container .checkbox input:checked[type="checkbox"],.shiny-input-container .checkbox-inline input:checked[type="checkbox"],.shiny-input-container .radio input:checked[type="checkbox"],.shiny-input-container .radio-inline input:checked[type="checkbox"] {
    --bs-form-check-bg-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")
}

.form-check-input:checked[type="radio"],.shiny-input-container .checkbox input:checked[type="radio"],.shiny-input-container .checkbox-inline input:checked[type="radio"],.shiny-input-container .radio input:checked[type="radio"],.shiny-input-container .radio-inline input:checked[type="radio"] {
    --bs-form-check-bg-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e")
}

.form-check-input[type="checkbox"]:indeterminate,.shiny-input-container .checkbox input[type="checkbox"]:indeterminate,.shiny-input-container .checkbox-inline input[type="checkbox"]:indeterminate,.shiny-input-container .radio input[type="checkbox"]:indeterminate,.shiny-input-container .radio-inline input[type="checkbox"]:indeterminate {
    background-color:#00498F;
    border-color:#00498F;
    --bs-form-check-bg-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e")
}

.form-check-input:disabled,.shiny-input-container .checkbox input:disabled,.shiny-input-container .checkbox-inline input:disabled,.shiny-input-container .radio input:disabled,.shiny-input-container .radio-inline input:disabled {
    pointer-events:none;
    filter:none;
    opacity:.5
}

div.dt-buttons{
  margin-top:10px;
}

.btn-secondary.buttons-csv{
  background:white !important;
  color:#A63B86 !important;
  border:1px solid #A63B86 !important;
  font-weight:bold;
  border-radius:4px;
  padding:6px 16px 6px 12px;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:background 0.3s, color 0.3s;
  gap:0.5em;
}

.btn-secondary.buttons-excel{
  background:white !important;
  color:#A63B86 !important;
  border:1px solid #A63B86 !important;
  font-weight:bold;
  border-radius:4px;
  padding:6px 16px 6px 12px;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:background 0.3s, color 0.3s;
  gap:0.5em;
}

.btn-secondary.buttons-csv svg{
  fill:#A63B86 !important;
  vertical-align:text-bottom;
  margin-right:6px;
}

.btn-secondary.buttons-excel svg{
  fill:#A63B86 !important;
  vertical-align:text-bottom;
  margin-right:6px;
}

.btn-secondary.buttons-csv:hover{
  background:#A63B86 !important;
  color:white !important;
  border:1px solid #A63B86 !important;
}

.btn-secondary.buttons-excel:hover{
  background:#A63B86 !important;
  color:white !important;
  border:1px solid #A63B86 !important;
}

.btn-secondary.buttons-excel:hover svg{
  fill:white !important;
}

.btn-secondary.buttons-csv:hover svg{
  fill:white !important;
}

.btn-secondary.buttons-csv:active{
  background:#D29DC2 !important;
  color:white !important;
  border:1px solid #A63B86 !important;
}

.btn-secondary.buttons-excel:active{
  background:#D29DC2 !important;
  color:white !important;
  border:1px solid #A63B86 !important;
}

.btn-secondary.buttons-csv:active svg{
  fill:white !important;
}

.btn-secondary.buttons-excel:active svg{
  fill:white !important;
}
