/* Code from shinyinvoer package */
/* Chrome, Safari, Edge, Opera */
.incrementor input::-webkit-outer-spin-button,
.incrementor input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.incrementor input[type=number] {
  -moz-appearance: textfield;
}

.incrementor {
  font-size: 16px;
}

.incrementor label {
  color: #333;
  display: block;
  font-size: .875em;
  font-weight: 500;
}

.incrementor-control {
  display: inline-flex;
  margin: 2px 0 20px 0;
}

/* Numeric input box */
.incrementor-control input {
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  border-left: 0;
  border-right: 0;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: .875em;
  min-width: auto;
  padding: .25rem .5rem;
  text-align: center;
  width: 44px;
}

/* Button style for left and right buttons */
.incrementor-control button {
  background: #DFDFDF;
  border:0;
  color: #333;
  font-weight: 700;
  padding: 0 .5rem;
}

.incrementor-control button:focus {
  outline: none;
}

/* Left button */
.incrementor-control button:first-child {
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
}

/* Right button */
.incrementor button:last-child {
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
}
